body {
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 230px repeat(4, 1fr);
    grid-template-rows: 100px repeat(3, 300px);
    grid-template-areas: 
    "header header header header header"
    "navbar video1 video2 video3 video4"
    "navbar video5 video6 video7 video8"
    "navbar video9 video10 video11 video12"
    ;
}

header {
    padding-top: 10px;
}

header {
    grid-area: header;

}

.logo {
    position: absolute;
    width: 90px;
    height: 20px;
    left: 5%;
    top: 18px;

}


.menu {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 2%;
    top: 16px;
    
}

.linha1 {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 25%;
    bottom: 75%;
    border: 2px solid #000000;
}

.linha2 {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 50%;
    bottom: 50%;
    border: 2px solid #000000;
}

.linha3 {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 75%;
    bottom: 25%;
    border: 2px solid #000000;
}

.menu-centro {
    margin-top: 0;
    position: absolute;
    height: 40;
    width: 404;
    left: 40%;
}

.menu-direito {
    
    position: absolute;
    margin-top: 0;
    left: 92%;
   
}



nav {
    grid-area: navbar;
    text-align: start;
    margin-left: 0;
    padding-left: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    position: start;
    list-style: none;
    padding: 10px;
}


/* inicio dos videos*/

figure {
    margin: 0;
    padding: 0;
}

figure img {
    margin: 0;
    padding: 0;
}

.primeiro-video {
    grid-area: video1;
}

.segundo-video {
    grid-area: video2;
}

.terceiro-video {
    grid-area: video3;
}

.quarto-video {
    grid-area: video4;
}

.quinto-video {
    grid-area: video5;
}

.sexto-video {
    grid-area: video6;
}

.setimo-video {
    grid-area: video7;
}

.oitavo-video {
    grid-area: video8;
}

.nono-video {
    grid-area: video9;
}

.decimo-video {
    grid-area: video10;
}

.decimo-primeiro-video {
    grid-area: video11;
}

.decimo-segundo-video {
    grid-area: video12;
}

/* fim dos videos*/